* {
  margin: -5px;
  padding: 1px;
  color: snow;
  font-family: 'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

body {
  overflow-x: hidden;
}

nav {
  height: 4.5rem;
  top: 75px;
  width: 100vw;
  background-color: #0f1014;
  display: flex;
  position: fixed;
  z-index: 10;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}

.nav-links li {
  margin: 0;
}


.login-button {
  background-color: transparent;
  border: none;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.login-button:hover {
  transform: scale(1.1);
  box-shadow: none;
  color: #e94e77;
}

