<div *ngIf="usuario; else loading" >
<div *ngIf="usuario.listaDelista.length !=0; else vacia" >
  <h2>{{ usuario.usuario }} - Tus listas de Cócteles</h2>

  <div *ngFor="let lista of usuario.listaDelista">
    <h3>{{ lista.nombre }}</h3>
    <div *ngIf="lista.lista.length > 0; else noItems">
      <div class="cocktail-container">
        <div *ngFor="let cocktail of lista.lista" class="cocktail-card">
          <a [routerLink]="['/coctel', cocktail.strDrink]" class="cocktail-link">
            <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" class="cocktail-image" />
          </a>
          <h4>{{ cocktail.strDrink }}</h4>
          <button (click)="eliminarDeLista(cocktail, lista)" class="btn-remove">
            ELIMINAR
          </button>
        </div>
      </div>
      <button (click)="eliminarTodaLaLista(lista)" class="btn-remove-all">
        VACIAR LISTA
      </button>
    </div>
    <ng-template #noItems>
      <p>No hay cócteles en esta lista.</p>
      <button *ngIf="lista.lista.length === 0" (click)="eliminarListaVacia(lista)" class="btn-remove-list">
        ELIMINAR LISTA
      </button>
    </ng-template>
  </div>
</div>
</div>

<ng-template #vacia>
  <div class="loading-container">
    <p class="loading-msg">🍸 ¡Agrega tus cócteles favoritos a tus listas!</p>
    <button class="btn-primary" routerLink="/cocteles">
      👉 Clickeame para ver los mejores cocteles
    </button>
  </div>
</ng-template>

<ng-template #loading>
  <div class="loading-container">
    <p class="loading-msg">🔒 Debes iniciar sesión para guardar cocteles en listas</p>
    <button class="btn-primary" routerLink="/inicioSesion">
      👉 Click aquí para iniciar sesión
    </button>
  </div>
</ng-template>
