<div class="home-page">
  <header class="hero-section">
    <h1>Bienvenido a</h1>
    <a class="logoMM" routerLink="/coctel-random" >
    </a>
    <p class="intro-text">
      La mejor página de cócteles para explorar, comentar, y compartir tus bebidas favoritas. Encuentra los cócteles más populares, comenta tus favoritos, agrégalos a listas personalizadas y explora las tendencias de consumo en un mapa interactivo. Además, si estás buscando algo nuevo, ¡prueba nuestra funcion Cóctel Random!
    </p>
  </header>

  <section class="features">
    <div class="feature">
      <a routerLink="/cocteles">
        <h2>Explora Cócteles</h2>
        <p>Descubre una amplia variedad de cócteles con recetas detalladas, ingredientes y preparaciones. Encuentra lo que más te guste y aprende a prepararlo.</p>
      </a>
    </div>

    <div class="feature">
      <a routerLink="/inicioSesion">
        <h2>Comenta y Comparte</h2>
        <p>Comenta sobre los cócteles, comparte tu experiencia y lee lo que otros usuarios tienen que decir sobre tus bebidas favoritas.</p>
      </a>
    </div>

    <div class="feature">
      <a routerLink="/favoritos">
        <h2>Favoritos y Listas</h2>
        <p>Agrega tus cócteles favoritos a una lista para tenerlos siempre a mano. Organiza tus bebidas de manera que siempre sepas qué preparar en cualquier ocasión.</p>
      </a>
    </div>

    <div class="feature">
      <a routerLink="/mapa-page">
        <h2>Tendencias en el Mapa</h2>
        <p>Explora las tendencias de consumo de cócteles en un mapa interactivo, descubre qué bebidas son las más populares en diferentes partes del mundo.</p>
      </a>
    </div>

    <div class="feature">
      <a routerLink="/coctel-random">
        <h2>Cóctel Random</h2>
        <p>Si no sabes qué cóctel preparar, prueba nuestra función de Cóctel Random. Descubre nuevas bebidas de forma divertida y al azar.</p>
      </a>
    </div>
  </section>

  <footer class="footer">
    <p>© 2024 MixMaster. Todos los derechos reservados.</p>
  </footer>
</div>
