<div *ngIf="cocktail; else loading">
  <h2>{{ cocktail.strDrink }}</h2>
  <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" class="cocktail-image" />
  <h3>Preparación:</h3>
  <p>{{ cocktail.strInstructionsES }}</p>

  <h3>Ingredientes:</h3>
  <ul>
    <li *ngFor="let ingredient of getIngredients(cocktail)">
      <strong>{{ ingredient[0] }}:</strong> {{ ingredient[1] }}
    </li>
  </ul>

  <button (click)="agregarAFavoritos()">{{ fav }}</button>
  <button (click)="abrirModal()">AGREGAR A LISTA</button>

  <!-- Ventana modal -->
  <div *ngIf="mostrarModal" class="modal">
    <div class="modal-content">
      <h2>Selecciona o crea una lista</h2>
      <ul>
        <li *ngFor="let lista of listasDeUsuario">
          <button (click)="agregarALista(lista.nombre)">{{ lista.nombre }}</button>
        </li>
      </ul>
      <input [(ngModel)]="nombreNuevaLista" placeholder="Crear nueva lista" />
      <button (click)="crearYAgregarALista()">Crear y agregar a nueva lista</button>
      <button (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Cargando el cóctel...</p>
</ng-template>

<app-comentario [nombreCoctel]="cocktail.strDrink"></app-comentario>
