* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Liberation Sans', sans-serif;
  color: snow;
}

body {
  background-color: #0f1014;
  overflow-x: hidden;
}

nav {
  height: 4.5rem;
  width: 100vw;
  background-color: #0f1014;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-grow: 1;
}

.nav-links li {
  margin-left: 2rem;
  transition: transform 0.3s ease-in-out;
}

.nav-links a {
  text-decoration: none;
  color: #e94e77;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s, transform 0.2s;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: silver;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: silver;
  transform: translateY(-3px);
}

.nav-links a:hover::after {
  width: 100%;
}

.right-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.login-button {
  background-color: transparent;
  border: 2px outset snow;
  border-radius: 30px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 1rem;
}

.login-button:hover {
  color: #131418;
  background-color: snow;
  border-color: #e94e77;
  border-style: solid;
}

.login-button:focus {
  outline: none;
}

.logout-button {
  background-color: transparent;
  border: 2px outset snow;
  border-radius: 30px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 1rem;
}

.logout-button:hover {
  color: snow;
  background-color: #e94e77;
  border-color: snow;
  border-style: solid;
}

.home-link {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: snow;
}

.logoMM {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: url("../../../assets/logo/LogoMM.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

